@model ProjectsControl.Models.Employee

@{
    ViewData["Title"] = $"Detalles {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>


<div class="border rounded m-2 p-2">
    <div class="d-flex flex-row justify-content-between">
        <h4>Empleado</h4>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.EmployeeId" class="btn btn-primary">Editar</a> |
            <a asp-action="Index" class="btn btn-secondary">Volver Atrás</a>
        </div>
    </div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Fecha de Nacimiento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth.Date)
        </dd>
        <dt class="col-sm-2">
            Fecha de Contratación
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateofHiring)
        </dd>
        <dt class="col-sm-2">
            Posición
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            Correo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Telefono
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class="col-sm-2">
            Correo
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsActive)
            {
                <label>Empleado Activo</label>
            }
            else
            {
                <label>Empleado Desactivado</label>
            }
        </dd>
    </dl>
</div>
<div class="border rounded m-2 p-2">
    @if (ViewBag.ActiveSalary != null)
    {
        <div class="d-flex flex-row justify-content-between">
            <h5>
                Salario Activo
            </h5>
            <div>
                <a asp-controller="Salaries" asp-action="CreateByEmployee" asp-route-id="@Model.EmployeeId"
                class="btn btn-success">Cambiar Salario</a> |
                <a asp-controller="Salaries" asp-action="ListSalariesByEmployee" asp-route-id="@Model.EmployeeId"
                class="btn btn-primary">Historial de Salarios</a>
            </div>
        </div>
        <hr />
        <div>
            <label>
                <b>Monto</b>
            </label>
            <label>
                @ViewBag.ActiveSalary.SalaryAmount -(Salario en colones)
            </label>
        </div>
        <div>
            <label>
                <b>Fecha de Aplicación</b>
            </label>
            <label>
                @ViewBag.ActiveSalary.DayOfApplication.ToShortDateString()
            </label>
        </div>
    }
    else
    {
        <div class="d-flex flex-row justify-content-between">
            <h5>
                Salario no registrado
            </h5>
            <div>
                <a asp-controller="Salaries" asp-action="CreateByEmployee" asp-route-id="@Model.EmployeeId"
                class="btn btn-success">Cambiar Salario</a> |
            </div>
        </div>
    }
</div>

<div class="border rounded m-2 p-2">
    <h2>
        Historial de Acciones de Personal Registradas
    </h2>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Titulo
                </th>
                <th>
                    Fecha Creación
                </th>
                <th>
                    Autor
                </th>
                <th>
                    Tipo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.actions)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.DateOfCreation
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td>
                        @item.TypeOfAction
                    </td>
                    <td>
                        <a asp-controller="Actions" asp-action="Edit" asp-route-id="@item.ActionId"
                        class="btn btn-primary">Editar</a>
                    </td>
                    <td>
                        <a asp-controller="Actions" asp-action="Details" asp-route-id="@item.ActionId"
                        class="btn btn-info">Detalles</a>
                    </td>
                    <td>
                        <a asp-controller="Actions" asp-action="Delete" asp-route-id="@item.ActionId"
                        class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>