@model IEnumerable<ProjectsControl.Models.Employee>

@{
    List<Employee> listEmployee = Model.OrderByDescending(E=> E.IsActive).ToList();
    ViewData["Title"] = "Lista de Empleados ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Empleados registrados</h1>

<p>
    <a asp-action="Create">Registrar nuevo empleado</a>
</p>
<table class="table table-hover table-striped table-responsive-sm table-bordered" style="font-size: 13px;text-align:center">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Fecha Contratación
            </th>
            <th>
                Cargo
            </th>
            <th colspan="3">Acciones</th>
        </tr>
    </thead>
    <tbody style="font-size: 12px;">
        @foreach (var item in listEmployee)
        {
            if (item.IsActive)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateofHiring)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-primary">Editar</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-info">Detalles</a>
                    </td>
                </tr>
            }
            else
            {
               
            }
        }
    </tbody>
</table>


<hr/>
<h3>Exempleados Inactivos</h3>

<p>
    Lista de empleados inactivos en el sistema. Estos empleados no serán visibles para la inserción de datos. Si desea volver a usar un perfil de un empleado, puede habilitar el mismo
</p>
<table class="table table-hover table-striped table-responsive-sm table-bordered" style="font-size: 13px;text-align:center">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Fecha Despido
            </th>
            <th>
                Cargo
            </th>
            <th colspan="3">Acciones</th>
        </tr>
    </thead>
    <tbody style="font-size: 12px;">
        @foreach (var item in listEmployee)
        {
            if (!item.IsActive)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfFired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-primary">Editar</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-info">Detalles</a>
                    </td>
                </tr>
            }
            else
            {

            }
        }
    </tbody>
</table>