@model IEnumerable<ProjectsControl.Models.Of_Quo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsModicable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quotation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsModicable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offer.OfferId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quotation.QuotationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Of_QuoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Of_QuoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Of_QuoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
