@using Microsoft.AspNetCore.Identity;
@using System;
@using System.Linq;
@model IdentityUser

@{
    ViewData["Title"] = $"Información Usuario {Model.UserName} ";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
    var tmpRoles = ViewBag.Roles;
}



<h2>
    Ver Usuario
</h2>
<p>
    Ver información del usuario
</p>
<table class="table table-primary">
    <thead>
    </thead>
    <tbody>
        <tr style="display:none;">
            <th>
                ID
            </th>
            <td id="idUser">
                @Model.Id
            </td>
        </tr>
        <tr>
            <th>
                Nombre de usuario
            </th>
            <td>
                @Model.UserName
            </td>
        </tr>
        <tr>
            <th>
                Correo
            </th>
            <td>
                @Model.Email
            </td>
        </tr>
        <tr>
            <th>
                Número de Telefono
            </th>
            <td>
                @Model.PhoneNumber
            </td>
        </tr>
        <tr>
            <th>
                Cantidad de inicios de Sesión Fallidos
            </th>
            <td>
                @Model.AccessFailedCount
            </td>
        </tr>
    </tbody>
</table>
<hr />
<h5>
    Roles Asignados
</h5>
<div>
    <div>
        <p>
            Agregar nuevos roles
        </p>
        <div class="form-group">
            <form asp-area="admin" asp-controller="Manage" asp-action="SetRoleUser">
                <input type="hidden" name="id" value="@Model.Id" />
                <select id="RolToSet" onclick="SetRolId(this)" name="rolid" class="form-control-sm">
                    @for (var i = 0; i < tmpRoles.Count; i++)
                    {
                        <option value="@tmpRoles[i].Id">@tmpRoles[i].Name</option>
                    }
                </select>
                <input type="submit" class="btn btn-outline-success" value="Añadir" />
            </form>

        </div>
    </div>
    <div>
        <p>
            Lista de roles asignados a los usuarios
        </p>
        <table class="table table-light">
            <tbody>
                @if (ViewBag.UserRoles != null)
                {
                    foreach (IdentityRole dictRow in ViewBag.UserRoles)
                    {
                        <tr>
                            <!--Rol-->
                            <td>
                                Role
                            </td>
                            <!--Rol Id-->
                            <td>
                                @dictRow.Id
                            </td>
                            <!--Rol Name-->
                            <td>
                                @dictRow.Name
                            </td>
                            <!--Actions-->
                            <td>
                                <form asp-controller="Manage" asp-action="RemoveRol">
                                    <input type="hidden" name="Id" value="@Model.Id" />
                                    <input type="hidden" name="Rolid" value="@dictRow.Id" />
                                    <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div>
</div>


<script src="~/js/utilsManage.js" type="text/javascript">

</script>