@model ProjectsControl.Models.Offer

@{
    ViewData["Title"] = "Crear Oferta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar Oferta</h1>

<h4>O</h4>
<hr />
<div >
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OfferId" class="control-label">Id de Referencia Oferta</label>
                <input asp-for="OfferId" class="form-control"value="@Guid.NewGuid().ToString()" readonly />
                <span asp-validation-for="OfferId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Número de Oferta</label>
                <input asp-for="NumberOfOffer" class="form-control" />
                <span asp-validation-for="NumberOfOffer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Titulo</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descripción</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Autor</label>
                <input asp-for="Author" class="form-control"  value="@User.Identity.Name" readonly />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Vendedor</label>
                <input asp-for="SaleManName" class="form-control" />
                <span asp-validation-for="SaleManName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de creación</label>
                <input asp-for="DateOfCreation" class="form-control" />
                <span asp-validation-for="DateOfCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ultima Edición</label>
                <label asp-for="LastEdition" class="control-label"></label>
                <input type="datetime" class="form-control" value="@DateTime.Today.ToShortDateString()" readonly />
                
                <span asp-validation-for="LastEdition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cliente</label>
                <input type="text" list="list-customers" asp-for="CustomerId" class ="form-control" />
                <datalist id="list-customers">
                    @foreach (Customer item in @ViewBag.CustomerId)
                   {
                       <option value="@item.CustomerId">@item.Name</option>
                   }
                </datalist>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
