@model ProjectsControl.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OCDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OCDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saleman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saleman.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
