@model ProjectsControl.Models.Project

@{
    ViewData["Title"] = $"Detalles {Model.ProjectName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles del Proyecto</h1>
<p>A continuación se muestra la información registada del proyecto @Model.ProjectName, para mayor información contacte a los encargados respectivos. </p>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Editar información</a> |
</div>
<hr class="bg-light" />
<table class="table table-hover table-striped table-responsive-sm table-bordered" style="font-size: 13px;text-align:center">
    <tbody>
        <tr>
            <th>Nombre de Tarea</th>
            <td>@Html.DisplayFor(model => model.NumberOfTask)</td>
        </tr>
        <tr>
            <th>Nombre del Proyecto</th>
            <td>@Html.DisplayFor(model => model.ProjectName)</td>
        </tr>
        <tr>
            <th>Id Orden de Compra</th>
            <td>@Html.DisplayFor(model => model.OC)</td>
        </tr>
        <tr>
            <th>Fecha de Compra</th>
            <td>@Html.DisplayFor(model => model.OCDate)</td>
        </tr>
        <tr>
            <th>Monto</th>
            <td>@Html.DisplayFor(model => model.Amount)</td>
        </tr>
        <tr>
            <th>Moneda</th>
            <td>@Html.DisplayFor(model => model.Currency)</td></td>
        </tr>
        <tr>
            <th>Encargado</th>
            <td>@Html.DisplayFor(M => M.Manager)</td>
        </tr>
        <tr>
            <th>Fecha de Inicio</th>
            <td>@Html.DisplayFor(model => model.BeginDate)</td>
        </tr>
        <tr>
            <th>Fecha Finalizacion</th>
            <td>@Html.DisplayFor(model => model.EndDate)</td>
        </tr>
        <tr>
            <th>Finalizado</th>
            <td>@Html.DisplayFor(model => model.IsOver)</td>
        </tr>
        <tr>
            <th>Tipo de Trabajo</th>
            <td>@Html.DisplayFor(model => model.TypeOfJob)</td>
        </tr>
        <tr>
            <th>Detalles</th>
            <td>@Html.DisplayFor(model => model.Details)</td>
        </tr>
        <tr>
            <th>Ubicacion</th>
            <td>@Html.DisplayFor(model => model.Ubication)</td>
        </tr>
        <tr>
            <th>Id de Cliente</th>
            <td>@Html.DisplayFor(model => model.Customer.CustomerId)</td>
        </tr>
        <tr>
            <th>Id de Vendedor</th>
            <td>@Html.DisplayFor(model => model.Employee.EmployeeId)</td>
        </tr>
    </tbody>
</table>



<div>
    <h2>Facturas Registradas</h2>
    <p> A continuación se muestras las facturas realizadas por Grupo Mecsa a el cliente @Model.Customer.Name, para mayor detalle favor consulte con el departamento financiero o con el encargado de la realización de la facturas registradas.</p>
    <div>
        <a asp-controller="Bills" asp-action="Create">Registrar Nueva Factura</a> |
    </div>
    <hr class="bg-light" />
    <table class="table table-hover table-striped table-responsive-sm table-bordered" style="font-size: 17px;text-align:center">
        <thead>
            <tr>
                <th>
                    Número de Factura
                </th>
                <th>
                    Fecha de Creación
                </th>
                <th>
                    Autor
                </th>
                <th>
                    Monto
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.BillsOfProyect)
            {
                <tr>
                    <td>
                        @item.NumberOfBill
                    </td>
                    <td>
                        @item.DateOfCreation
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        <a asp-controller="Bills" asp-action="Edit" asp-route-id="@item.BillId">Edit</a> |
                        <a asp-controller="Bills" asp-action="Details" asp-route-id="@item.BillId">Details</a> |
                        <a class="text-danger" asp-controller="Bills" asp-action="Delete" asp-route-id="@item.BillId">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

<div>
    <h3>Notas y Bitacorá del Proyecto</h3>
    <p>A continuación las notas realizadas con respecto al proyecto e información referente a su ejecución. Algunas ideas de la información a registrar es:</p>
    <ul>
        <li> Incidentes del Proyecto.</li>
        <li> Conflictos en el sitio.</li>
        <li> Cambios en la ejecución del proyecto.</li>
    </ul>
    <table class="table table-hover table-striped table-responsive-sm table-bordered  " style="font-size: 16px;text-align:center">
        <thead>
            <tr>
                <th> Autor</th>
                <td> Fecha Creacion</td>
                <td> Titulo</td>
                <th></th>
            </tr>
        </thead>      
    </table>
</div>
<div>
    <h3>Informes Registrados</h3>
    <p>Informes existentes en la base de datos correspondientes al presente proyecto. A continuación se muestra la cantidad de informes registrados de este proyecto, así como el estato de cada uno. Para mayor información consulte al departamento de ingeniería o al encargado de la redacción del informe.</p>
    <div>
        <a asp-controller="Reports" asp-action="Create">Registrar Nuevo Informe</a> 
    </div>
    <hr class="bg-light" />
    <table class="table table-hover table-striped table-responsive-sm table-bordered  " style="font-size: 16px;text-align:center">
        <thead>
            <tr>
                <th>
                    Numero de Reporte
                </th>
                <th>
                    Autor
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Fin
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Notas
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="font-size: 12px;">
            @foreach (var item in ViewBag.Reports)
            {
                <tr>
                    <td>
                        @item.NumberOfReport
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td>
                        @item.BeginDate
                    </td>
                    <td>
                        @item.EndDate
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.Notes
                    </td>
                    <td>
                        <a asp-controller="Reports" asp-action="Edit" asp-route-id="@item.ReportId">Editar</a> |
                        <a asp-controller="Reports" asp-action="Details" asp-route-id="@item.ReportId">Detalles</a> |
                        <a class="text-danger" asp-controller="Reports" asp-action="Delete" asp-route-id="@item.ReportId">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <h3>Asistencias Registradas del Proyecto</h3>
    <p>Asistencias del proyecto registradas por empleado. Dichas asistencias identifican el personal encargado de la realización proyecto. Asimismo se muestra la siguiente informacíon:</p>
    <ul>
        <li>Cantidad Total de horas registradas por persona empleadas en el proyecto.</li>
        <li>Cantidad total de dias registrados por persona empleados en el proyecto.</li>
    </ul>
    <div>
        <a asp-controller="Asistances" asp-action="Create">Registrar Nueva asistencia</a>
    </div>
    <hr />
    <table class="table table-hover table-striped table-responsive-sm table-bordered  " style="font-size: 16px;text-align:center">
        <thead>
            <tr>
                <th>
                    Persona
                </th>
                <th>
                    Horas
                </th>
                <th>
                    Dias
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Hours)
            {
                @foreach (var i in ViewBag.DaysOfEmployees)
                {
                    @if (item.Key.Equals(i.Key))
                    {
                        <tr>
                            <td>
                                @item.Key
                            </td>
                            <td>
                                @item.Value
                            </td>
                            <td>

                                @i.Value
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<div>
    <h3>Horas Extras Registradas</h3>
    <p>Cantidad de horas extras registradas por persona en el proyecto actual</p>
    <hr class="bg-light" />
    <table class="table table-hover table-striped table-responsive-sm table-bordered  " style="font-size: 16px;text-align:center">
        <thead>
            <tr>
                <th>
                    Inicio
                </th>
                <th>
                    Fin
                </th>
                <th>
                    Tipo de hora
                </th>
                <th>
                    Motivo
                </th>
                <th>
                    Notas
                </th>
                <th>
                    Pagado
                </th>
                <th>
                    Empleado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="font-size: 12px;">
            @foreach (var item in ViewBag.Extras)
            {
                <tr>
                    <td>
                        @item.BeginTime
                    </td>
                    <td>
                        @item.EndTime
                    </td>
                    <td>
                        @item.TypeOfHour
                    </td>
                    <td>
                        @item.Reason
                    </td>
                    <td>
                        @item.Notes
                    </td>
                    <td>
                        @item.IsPaid
                    </td>
                    <td>
                        @item.Employee.Name
                    </td>
                    <td>
                        <a asp-controller="ExtraHours" asp-action="Edit" asp-route-id="@item.ExtraHourId">Editar</a>
                        <a asp-controller="ExtraHours" asp-action="Details" asp-route-id="@item.ExtraHourId">Detalles</a>
                        <a style="color:red" asp-controller="ExtraHours" asp-action="Delete" asp-route-id="@item.ExtraHourId">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


