@model ProjectsControl.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles del Proyecto</h1>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<table class="table table-hover table-striped table-responsive-sm table-bordered" style="font-size: 13px;text-align:center">
    <tbody>
        <tr>
            <th>Nombre de Tarea</th>
            <td>@Html.DisplayFor(model => model.NumberOfTask)</td>
        </tr>
        <tr>
            <th>Nombre del Proyecto</th>
            <td>@Html.DisplayFor(model => model.ProjectName)</td>
        </tr>
        <tr>
            <th>Id de oferta</th>
            <td>@Html.DisplayFor(model => model.OfferId)</td>
        </tr>
        <tr>
            <th>Id Orden de Compra</th>
            <td>@Html.DisplayFor(model => model.OC)</td>
        </tr>
        <tr>
            <th>Fecha de Compra</th>
            <td>@Html.DisplayFor(model => model.OCDate)</td>
        </tr>
        <tr>
            <th>Monto</th>
            <td>@Html.DisplayFor(model => model.Amount)</td>
        </tr>
        <tr>
            <th>Moneda</th>
            <td>@Html.DisplayFor(model => model.Currency)</td></td>
        </tr>
        <tr>
            <th>Encargado</th>
            <td>@Html.DisplayFor(M => M.Manager)</td>
        </tr>
        <tr>
            <th>Fecha de Inicio</th>
            <td>@Html.DisplayFor(model => model.BeginDate)</td>
        </tr>
        <tr>
            <th>Fecha Finalizacion</th>
            <td>@Html.DisplayFor(model => model.EndDate)</td>
        </tr>
        <tr>
            <th>Finalizado</th>
            <td>@Html.DisplayFor(model => model.IsOver)</td>
        </tr>
        <tr>
            <th>Tipo de Trabajo</th>
            <td>@Html.DisplayFor(model => model.TypeOfJob)</td>
        </tr>
        <tr>
            <th>Detalles</th>
            <td>@Html.DisplayFor(model => model.Details)</td>
        </tr>
        <tr>
            <th>Ubicacion</th>
            <td>@Html.DisplayFor(model => model.Ubication)</td>
        </tr>
        <tr>
            <th>Id de Cliente</th>
            <td>@Html.DisplayFor(model => model.Customer.CustomerId)</td>
        </tr>
        <tr>
            <th>Id de Vendedor</th>
            <td>@Html.DisplayFor(model => model.Saleman.SalemanId)</td>
        </tr>
    </tbody>
</table>



<div>
    <h2>Facturas registradas</h2>
    <table class="table table-hover table-striped table-responsive-sm table-bordered" style="font-size: 17px;text-align:center">
        <thead>
            <tr>
                <th>
                    Número de Factura
                </th>
                <th>
                    Fecha de Creación
                </th>
                <th>
                    Autor
                </th>
                <th>
                    Monto
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.BillsOfProyect)
            {
                <tr>
                    <td>
                        @item.NumberOfBill
                    </td>
                    <td>
                        @item.DateOfCreation
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        <a asp-controller="Bills" asp-action="Edit" asp-route-id="@item.BillId">Edit</a> |
                        <a asp-controller="Bills" asp-action="Details" asp-route-id="@item.BillId">Details</a> |
                        <a class="text-danger" asp-controller="Bills" asp-action="Delete" asp-route-id="@item.BillId">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div>
    <h3>Informes Registrados</h3>
    <p>Informes existentes en la base de datos correspondientes al presente proyecto</p>
    <table class="table table-hover table-striped table-responsive-sm table-bordered  " style="font-size: 16px;text-align:center">
        <thead>
            <tr>
                <th>
                    Numero de Reporte
                </th>
                <th>
                    Autor
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Fin
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Notas
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="font-size: 12px;">
            @foreach (var item in ViewBag.Reports)
            {
                <tr>
                    <td>
                        @item.NumberOfReport
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td>
                        @item.BeginDate
                    </td>
                    <td>
                        @item.EndDate
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.Notes
                    </td>
                    <td>
                        <a asp-controller="Reports" asp-action="Edit" asp-route-id="@item.ReportId">Editar</a> |
                        <a asp-controller="Reports" asp-action="Details" asp-route-id="@item.ReportId">Detalles</a> |
                        <a class="text-danger" asp-controller="Reports" asp-action="Delete" asp-route-id="@item.ReportId">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <h3>Asistencias Registradas del Proyecto</h3>
    <p>Asistencias del proyecto registradas por empleado. Dichas asistencias identifican el personal encargado de la realización proyecto</p>
    <table class="table table-hover table-striped table-responsive-sm table-bordered  " style="font-size: 16px;text-align:center">
        <thead>
            <tr>
                <th>
                    Persona
                </th>
                <th>
                    Cantidad de Horas
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Hours)
            {
                <tr>
                    <td>
                        @item.Key
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div>
    <h3>Horas Extras Registradas</h3>
    <p>Cantidad de horas extras registradas por persona en el proyecto actual</p>

    <table class="table table-hover table-striped table-responsive-sm table-bordered  " style="font-size: 16px;text-align:center">
        <thead>
            <tr>
                <th>
                    Inicio
                </th>
                <th>
                    Fin
                </th>
                <th>
                    Tipo de hora
                </th>
                <th>
                    Motivo
                </th>
                <th>
                    Notas
                </th>
                <th>
                    Pagado
                </th>
                <th>
                    Empleado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="font-size: 12px;">
            @foreach (var item in ViewBag.Extras)
            {
                <tr>
                    <td>
                        @item.BeginTime
                    </td>
                    <td>
                        @item.EndTime
                    </td>
                    <td>
                        @item.TypeOfHour
                    </td>
                    <td>
                        @item.Reason
                    </td>
                    <td>
                        @item.Notes
                    </td>
                    <td>
                        @item.IsPaid
                    </td>
                    <td>
                        @item.Employee.Name
                    </td>
                    <td>
                        <a asp-controller="ExtraHours" asp-action="Edit" asp-route-id="@item.ExtraHourId">Editar</a>
                        <a asp-controller="ExtraHours" asp-action="Details" asp-route-id="@item.ExtraHourId">Detalles</a>
                        <a style="color:red" asp-controller="ExtraHours" asp-action="Delete" asp-route-id="@item.ExtraHourId">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


