@model IEnumerable<ProjectsControl.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Proyectos Registrados</h1>

<p>
    <a asp-action="Create">Registrar nuevo proyecto</a>
</p>
<table class="table table-hover table-striped table-responsive-sm table-bordered" style="font-size: 13px;text-align:center">
    <thead>
        <tr>
            <th>
               Tarea
            </th>
            <th>
                Nombre
            </th>
            <th>
                Id Oferta
            </th>
            <th>
                OC
            </th>
            <th>
                Fecha OC
            </th>
            <th>
                Fecha Inicio
            </th>
            <th>
                Fecha Finalizacion
            </th>
            <th>
                Tipo Trabajo
            </th>
            <th>
                Ubicacion
            </th>
            <th>
                Cliente
            </th>
            <th>
                Vendedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="font-size: 12px;">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OCDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfJob)
            </td>          
            <td>
                @Html.DisplayFor(modelItem => item.Ubication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saleman.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.ProjectId">Detalles</a> 
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
