@model IEnumerable<ProjectsControl.Models.Project>
@using ProjectsControl.Models


@{
    ViewData["Title"] = "Busqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
    Busqueda de Proyectos
</h2>

<div style="text-align:left;">
    <a asp-controller="Projects" asp-action="Create">Crear nuevo proyecto</a>  | <a asp-controller="Projects" asp-action="Index">Mostrar todos los Proyectos</a>
</div>


<form asp-controller="Projects" asp-action="Search" method="get" class="form-group">
    <div class="form-group row">
        <div class="col col-4">
            <input style="background-color: #f5f5f5;" class=" rounded form-control " type="text" name="SearchName" placeholder="Nombre de Proyecto" />
        </div>
        <div class="col col-4">
            <input style="background-color: #f5f5f5;" class="rounded form-control" type="text" name="NumberOfProjectToSearch" placeholder="Numero de Proyecto" />
        </div>
        <div class="col col-4">
            <select style="background-color:#f5f5f5;" name="TypeToSearch" class="rounded form-control">
                <option value="">Seleccione...</option>
                <option value="Instalación RAYOS-NO">Instalación RAYOS-NO</option>
                <option value="Instalación Ionizante">Instalación Ionizante</option>
                <option value="Instalación Supresores">Instalación Supresores</option>
                <option value="Instalación Torre">Instalación Torre</option>
                <option value="Mantenimiento RAYOS-NO">Mantenimiento RAYOS-NO</option>
                <option value="Mantenimiento Ionizante">Mantenimiento Ionizante</option>
                <option value="Mantenimiento Torre">Mantenimiento Torre</option>
                <option value="Estudio SPAT">Estudio SPAT</option>
                <option value="Trabajos Eléctricos">Trabajos Eléctricos</option>
                <option value="Trabajos Varios Asfaltos">Trabajos Varios Asfaltos</option>
                <option value="Otros">Otros</option>
            </select>
        </div>
    </div>
    <div class="row">
            <div class="col-4">
                <select style="background-color: #f5f5f5;" name="MonthToSearch" class=" rounded form-control">
                    <option value="0">Seleccione un mes</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </div>
            <div class="col col-4">
                <select style="background-color: #f5f5f5;" name="SearchYear"  class=" rounded form-control">
                    <option value="0">Seleccione un año...</option>
                    @foreach (var item in ViewBag.YearOfProject)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="col col-4">
                <select style="background-color: #f5f5f5;" name="StatusToSearch" class=" rounded form-control">
                    <option value="">Seleccione...</option>
                    @foreach (var item in ViewBag.Status)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div  class="col ">
                <input type="submit" value="Buscar" class="btn btn-light " />
            </div>
    </div>

</form>


<p class="text-danger text-center"> @ViewBag.Message</p>

<table class="table table-hover table-striped table-responsive-sm table-bordered thead-dark" style="font-size: 13px;text-align:center">
    <thead>
        <tr>
            <th>N° Proyecto</th>
            <th>Tarea</th>
            <th>Nombre</th>
            <th>Id Oferta</th>
            <th>OC</th>
            <th>Fecha OC</th>
            <th>Fecha Inicio</th>
            <th>Fecha Finalizacion</th>
            <th>Tipo Trabajo</th>
            <th>Ubicacion</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th></th>
        </tr>
    </thead>
    <tbody style="font-size: 12px;">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfProject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OCDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfJob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Editar</a>
                <a asp-action="Details" asp-route-id="@item.ProjectId">Detalles</a>
                <a style="color:red;" asp-action="Delete" asp-route-id="@item.ProjectId">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

