@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<style>
    .container {
       align-content:center;
       display: grid;
        grid-template-columns: 0.9fr 0.9fr;
        grid-template-rows: 0.7fr 0.7fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "ProjectsActive ProjectsActive"
            "LastestBills ExtrasNotPaid";
    }

    .ProjectsActive {
        grid-area: ProjectsActive;
        align-content:center;
    }

    .LastestBills {
        grid-area: LastestBills;
    }

    .ExtrasNotPaid {
        grid-area: ExtrasNotPaid;
    }

</style>


<div class="container">
    <div class="ProjectsActive">
        <div>
            <div>
                <h3>Proyectos sin Finalizar</h3>
            </div>
            <table class="table table-sm table-striped table-responsive-sm table-bordered thead-dark" style="font-size: 14px;text-align:center">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Tarea
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Fecha OC
                        </th>
                        <th>
                            Tipo Trabajo
                        </th>
                        <th>
                            Ubicacion
                        </th>
                        <th>
                            Cliente
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="font-size: 12px;">
                    @foreach (var item in ViewBag.Projects)
                    {
                        <tr>
                            <td>
                                @item.ProjectId
                            </td>
                            <td>
                                @item.NumberOfTask
                            </td>
                            <td>
                                @item.ProjectName
                            </td>
                            <td>
                                @item.OCDate
                            </td>
                            <td>
                                @item.TypeOfJob
                            </td>
                            <td>
                                @item.Ubication
                            </td>
                            <td>
                                @item.Customer.Name
                            </td>
                            <td>
                                @item.Saleman.Name
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.ProjectId">Detalles</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="LastestBills">
        <div>
            <h3>Ultimas Facturas Agregadas</h3>
            <table class="table table-sm table-striped table-responsive-sm table-bordered thead-dark" style="font-size: 13px;text-align:center">
                <thead>
                    <tr>
                        <th>
                            Numero de Factura
                        </th>
                        <th>
                            Fecha de Creación
                        </th>
                        <th>
                            Autor
                        </th>
                        <th>
                            Proyecto
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.NewBills)
                    {
                        <tr>
                            <td>
                                @item.NumberOfBill
                            </td>
                            <td>
                                @item.DateOfCreation
                            </td>
                            <td>
                                @item.ProjectId
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.BillId">Details</a> |
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>      
    </div>
    <div class="ExtrasNotPaid">
        <div>
            <h3>Horas Extras No Pagadas</h3>
        </div>

        <table class="table table-hover table-striped table-responsive-sm table-bordered" style="font-size: 13px;text-align:center">
            <thead>
                <tr>
                    <th>
                        Inicio
                    </th>
                    <th>
                        Tipo de hora
                    </th>
                    <th>
                        Motivo
                    </th>
                    <th>
                        Empleado
                    </th>
                    <th>
                        Numero de Semana
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="font-size: 12px;">
                @foreach (var item in ViewBag.NewExtras)
                {
                    <tr>
                        <td>
                            @item.BeginTime
                        </td>
                        <td>
                            @item.TypeOfHour
                        </td>
                        <td>
                            @item.Reason
                        </td>
                        <td>
                            @item.Employee.Name
                        </td>

                        <td>
                            @item.Week.NumberOfWeek
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ExtraHourId">Detalles</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




