@model IEnumerable<ProjectsControl.Models.Report>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Informes Registrados</h1>

<p>
    <a asp-action="Create">Registrar nuevo mantenimiento</a>
</p>
<table class="table table-hover table-striped table-responsive-sm table-bordered" style="font-size: 13px;text-align:center">
    <thead>
        <tr>
            <th>
                Numero de Reporte
            </th>
            <th>
                Autor
            </th>
            <th>
                Inicio
            </th>
            <th>
                Fin
            </th>
            <th>
                Estado               
            </th>
            <th>
                Notas
            </th>
            <th>
                Proyecto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="font-size: 12px;">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfReport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ReportId">Detalles</a> |
                <a  style="color:red" asp-action="Delete" asp-route-id="@item.ReportId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
