@model Week;

@{
    ViewData["Title"] = "Generar Semana";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Week LastWeek =(Week) ViewData["lastWeek"];
}


<h2>
    Generate Week
</h2>


<p>
    Consulta automaticamente la información existente en la base de datos y crea la información necesaria para el siguiente registro.
</p>
<p>
    Tome en cuenta que el sistema generar la información con base en el último registro existente.<br />
    Esto se encuentra optimizado para la generación automatica en el horario semanal de operaciones.<br />
    Si desea ingresar fechas diferentes ingrese en el siguiente enlace <a class="nav-link" asp-area="" asp-controller="Weeks" asp-action="Create">Crear Semana</a>
</p>

<hr/>

<div  class="d-flex flex-row justify-content-around">
    <div class="col-6">
        <h5>
            Nuevo Registro
        </h5>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none;" >
                <label class="control-label">Id de Referencia Interno</label>
                <input asp-for="WeekId" class="form-control"  value="@Model.WeekId" readonly/>
                <span asp-validation-for="WeekId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Codigo de Semana</label>
                <input asp-for="NumberOfWeek" class="form-control"  value="@Model.NumberOfWeek" readonly />
                <span asp-validation-for="NumberOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Inicio de semana - </label>
                <label class="form-control">@Model.BeginOfWeek.ToLongDateString()</label>
                <input type="text" asp-for="BeginOfWeek" class="d-none"  value="@Model.BeginOfWeek" readonly/>
            </div>
            <div class="form-group">
                <label class="control-label">Final de semana </label>
                <label class="form-control">@Model.EndOfWeek.ToLongDateString()</label>
                <input type="text" asp-for="EndOfWeek" class="d-none" value="@Model.EndOfWeek" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    @if(LastWeek != null)
    {
    <div class="col-5">
        <h5>
            Información último Registro
        </h5>
        <div class="form-control border-0">
            <label>
                Id Ultima Semana Registrada
            </label>
            <label>
               <i> @LastWeek.WeekId </i>
            </label>
        </div>
        <div class="form-control border-0">
            <label>
                Inicio
            </label>
            <label>
               <i> @LastWeek.BeginOfWeek.Date.ToLongDateString()  </i>
            </label>
        </div>
        <div class="form-control border-0">
            <label>
                Finalización
            </label>
            <label>
                <i> @LastWeek.EndOfWeek.Date.ToLongDateString(); </i>
            </label>
        </div>
    </div>        
    }

</div>
