@model ProjectsControl.Models.Week
@using System.Linq; 
@{
    ViewData["Title"] = $"Vista de Cronograma Semana{Model.NumberOfWeek} ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Cronograma de Asistencia- Semana @Model.NumberOfWeek</h1>
<hr/>

<table class="table table-hover table-striped table-responsive-sm table-bordered thead-dark text-center" >
    <thead>
        <tr>
            <td>Día</td>
            @for (int i = 0; i < ViewBag.QuantityOfDays; i++)
            {
                <td>@Model.BeginOfWeek.AddDays(i).ToShortDateString()</td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (Employee employee in ViewBag.Employees)
	    {
        <tr>
            <th>@employee.Name</th>
            @for (int i = 0; i < ViewBag.QuantityOfDays; i++)
            {
                var aux = Model.BeginOfWeek.AddDays(i);
                foreach (Asistance asist in ViewBag.Asistances)
                {
                    if ((asist.EmployeeId.Equals(employee.EmployeeId) && (aux.Date.Equals(asist.DateOfBegin.Date))))
                    {
                        var projNam = asist.Project.ProjectName;
                        <td>
                            <a asp-controller="Asistances" asp-action="Details" asp-route-id="@asist.AsistanceId">Asistencia</a><br />
                            <a asp-controller="Projects" asp-action="Details" asp-route-id="@asist.ProjectId">@projNam</a><br />
                        </td>
                    }
                        else
                        {
                            <td>
                                Sin Registro
                            </td>
                        }
                    
                }
            }
        </tr>
	    }
    </tbody>
</table>