@model ProjectsControl.Models.Bill

@{
    ViewData["Title"] = "Borrar Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar Factura</h1>

<h3>¿Esta seguro que desea eliminar esta factura?</h3>
<div>
    <h4>Datos de Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Numero
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBill)
        </dd>
        <dt class = "col-sm-2">
            Fecha Creación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt class = "col-sm-2">
            Autor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            Monto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            Proyecto
        </dt>
        <dd class = "col-sm-10">
            N° @Model.Project.NumberOfProject - @Model.Project.ProjectName
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BillId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver Atrás</a>
    </form>
</div>
