@model IEnumerable<ProjectsControl.Models.Action>

@{
    ViewData["Title"] = "Lista de Acciones de Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Acciones de Personal</h1>

<p>
    <a asp-action="Create">Registrar Nueva Acción</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-sm-center">               
                Titulo
            </th>
            <th class="text-sm-center">               
                Creación
            </th>
            <th>                
                Autor
            </th>
            <th>                
                Tipo
            </th>
            <th>                
                Activa
            </th>
            <th>                
                Empleado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActionId" class="btn btn-primary">Editar</a> 
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ActionId" class="btn btn-info">Detalles</a> 
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ActionId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
