@model ProjectsControl.Models.Customer

@{
    ViewData["Title"] = $"Detalles de Cliente {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles del cliente</h1>

<div class="align-items-end">
    <a asp-controller="Offers" asp-action="Create" asp-route-id="@Model.CustomerId" class="btn btn-success">Agregar Oferta</a> |  
    <a asp-action="Edit" asp-route-id="@Model.CustomerId" class="btn btn-primary">Editar</a> |  
    <a asp-action="Index" class="btn btn-secondary"> Volver Atrás</a>
</div>
<div>    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Sector
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sector)
        </dd>
    </dl>
</div>


<h3>
    Historial de proyectos registrados
</h3>
<p>
    A continuación se presentan los proyectos registrados del cliente.
</p>

<table class="table table-hover table-striped table-responsive-sm table-bordered" style="font-size: 13px;text-align:center">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Tarea
            </th>
            <th>
                Nombre
            </th>
            <th>
                OC
            </th>
            <th>
                Fecha OC
            </th>
            <th>
                Fecha Inicio
            </th>
            <th>
                Fecha Finalizacion
            </th>
            <th>
                Tipo Trabajo
            </th>
            <th>
                Ubicacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="font-size: 12px;">
        @foreach (var item in ViewBag.ProjectsOfCustomer)
        {
            <tr>
                <td>
                    @item.ProjectId
                </td>
                <td>
                    @item.NumberOfTask
                </td>
                <td>
                    @item.ProjectName
                </td>
                <td>
                    @item.OC
                </td>
                <td>
                    @item.OCDate
                </td>
                <td>
                    @item.BeginDate
                </td>
                <td>
                    @item.EndDate
                </td>
                <td>
                    @item.TypeOfJob
                </td>
                <td>
                    @item.Ubication
                </td>
                <td>
                    <a asp-controller="Projects" asp-action="Edit" asp-route-id="@item.ProjectId" class="btn btn-primary">Editar</a>
                </td>
                <td>
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@item.ProjectId" class="btn btn-info">Detalles</a>
                </td>
                <td>                    
                    <a asp-controller="Projects" asp-action="Delete" asp-route-id="@item.ProjectId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
