@model IEnumerable<ProjectsControl.Models.Customer>

@{
    ViewData["Title"] = "Lista de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create">Registrar nuevo cliente</a>
</p>
<table class="table table-hover table-striped table-responsive-sm table-bordered" style="font-size: 13px;text-align:center">
    <thead>
        <tr>
            <th>
                Nombre               
            </th>
            <th>
                Sector                
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody style="font-size: 12px;">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-primary">Editar</a> 
            </td>
            <td>
                <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-info">Detalles</a> |
            </td>
            <td>                
                <a   asp-action="Delete" asp-route-id="@item.CustomerId" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
