@model List<Asistance>;



<script>

    function deleteRow(btn) {
        console.log(btn);
        let row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
        orderTable();
    }

    $(document).ready(function() {
        $("#table-asistances").validate();
    });


    function orderTable() {
        let tableAsistances = document.getElementById("table-asistances").rows.length
        console.log(tableAsistances);
        /// Change any row
        debugger;
        for (let index = 0; index <= tableAsistances; index++) {
            debugger;
            // set the values
            let row = document.getElementById("Row-" + index.toString());
            // Actual position of the row
            const voidPosition = index;
            // Check if the row is null,  if not exist, search the next row existence and reposition that row
            if (row === null) {
                debugger;
                /// If not exist, we need to check the the row and reubicate
                for (var j = index; j <= tableAsistances; j++) {
                    // search the row with the j counter
                    let newRow = document.getElementById("Row-" + j.toString());
                    if (newRow !== null) {
                        // change the name if the row
                        $("#Row-" + (j.toString())).attr("id", ("Row-" + voidPosition.toString()));
                        // Change ProjectId
                        $("#z" + (j.toString()) + "__ProjectId").attr("id", ("z" + voidPosition.toString() + "__ProjectId"));
                        $("#z" + (voidPosition.toString()) + "__ProjectId").attr("name", "[" + voidPosition.toString() + "].ProjectId");
                        // Change Employee Id
                        $("#z" + (j.toString()) + "__EmployeeId").attr("id", ("z" + voidPosition.toString() + "__EmployeeId"));
                        $("#z" + (voidPosition.toString()) + "__EmployeeId").attr("name", "[" + voidPosition.toString() + "].EmployeeId");
                        // Change Begin date
                        $("#z" + (j.toString()) + "__DateOfBegin").attr("id", ("z" + voidPosition.toString() + "__DateOfBegin"));
                        $("#z" + (voidPosition.toString()) + "__DateOfBegin").attr("name", "[" + voidPosition.toString() + "].DateOfBegin");
                        // Change End Date
                        $("#z" + (j.toString()) + "__DateOfEnd").attr("id", ("z" + voidPosition.toString() + "__DateOfEnd"));
                        $("#z" + (voidPosition.toString()) + "__DateOfEnd").attr("name", "[" + voidPosition.toString() + "].DateOfEnd");
                        // Change Week Id
                        $("#z" + (j.toString()) + "__WeekId").attr("id", ("z" + voidPosition.toString() + "__WeekId"));
                        $("#z" + (voidPosition.toString()) + "__WeekId").attr("name", "[" + voidPosition.toString() + "].WeekId");
                        debugger;
                        break;
                    }
                }
                debugger;
            }
            debugger;
        }
    }
</script>











<div class="d-flex flex-row">
    <div>
        <div class="flex-row">
            <div>
                <h2>
                    Asistencia Diaria de Proyectos
                </h2>
                <p>Esta pagina permite registrar la asistencia diaria a los proyectos. Aqui solamente se mostrará el personal con el cargo de "técnico" o "ayudante". Si no desear registrar la asistencia de una persona. Simplemente elimina su registro. </p>

            </div>
            <div class="justify-content-center">
                <label>@ViewBag.ErrorMessage</label>
            </div>
        </div>

        <form method="post">
            <table class="table table-hover" id="table-asistances" onchange="orderTable()">
                <thead>
                    <tr>
                        <td>
                            Empleado
                        </td>
                        <td>
                            Proyecto
                        </td>
                        <td>
                            Entrada
                        </td>
                        <td>
                            Salida
                        </td>
                        <td>
                            N°Semana
                        </td>
                        <td>
                            Ausente
                        </td>
                        <td>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <!--Row-->
                        <tr id="Row-@i">
                            <td>
                                <!--Name-->
                                <label>
                                    @Model[i].Employee.Name
                                    <div style="display:none">
                                        <input asp-for="@Model[i].EmployeeId" value="@Model[i].EmployeeId" readonly>
                                    </div>

                                </label>
                            </td>
                            <td>
                                <!--Project-->
                                <input list="active-projects" asp-for="@Model[i].ProjectId" class="form-control-sm" minlength="3" required>
                                <datalist id="active-projects">
                                    @foreach (var item in ViewBag.Projects)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </datalist>
                            </td>
                            <td>
                                <!--DateOfBegin-->
                                <input asp-for="@Model[i].DateOfBegin" min="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-ddThh:mm")" max="@DateTime.Now.AddMonths(1).ToString("yyyy-MM-ddThh:mm")" class="form-control-sm" />

                            </td>
                            <td>
                                <!--DateOfEnd-->
                                <input  asp-for="@Model[i].DateOfEnd" min="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-ddThh:mm")" max="@DateTime.Now.AddMonths(1).ToString("yyyy-MM-ddThh:mm")" class="form-control-sm" />
                            </td>
                            <td>
                                <!--Number Of Week-->                                
                                <input type="week" asp-for="@Model[i].NumberOfWeek" class="form-control" />
                            </td>
                            <td>
                                <!--is absent-->
                                <input id="checkbox-@i" type="checkbox">

                            </td>
                            <td>
                                <!--Delete Row-->
                                <div id="Delete-@i" class=" btn btn-outline-danger" onclick="deleteRow(this)">Borrar</div>
                            </td>
                            <td>
                                <!--PRUEBA Row-->
                                <input type="week" class="form-control"  />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="flex-row align-content-center">
                <input type="submit" value="Guardar" class="btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-6">
        <h6>
            Intervalo de Fechas Ultimas Semanas
        </h6>
        <p>
            Se muestran las últimas semanas registradas en el sistema.<br />
            Seleccione la semana que corresponda. Si la semana especificada,<br />
            no aparece, intente realizar la inserción manual de la asistencia, o <br />
            bien la creación de nueva semana.
        </p>
        <div class="d-flex flex-column ">
        </div>
    </div>
</div>