@model ProjectsControl.Models.Asistance

@{
    ViewData["Title"] = "Detalles de la Asistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de la Asistencia</h1>

<div>
    <h4>Asistencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Fecha de Inicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBegin)
        </dd>
        <dt class = "col-sm-2">
            Fecha de Finalización
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfEnd)
        </dd>
        <dt class = "col-sm-2">
            Empleado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            Proyecto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            N° Semana
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week.WeekId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AsistanceId" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver Atrás</a>
</div>
