@model ProjectsControl.Models.Asistance

@{
    ViewData["Title"] = "Detalles de la Asistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de la Asistencia</h1>

<h4>Asistencia</h4>
<p>
    Información de la asistencia de @Model.Employee.Name el día @Model.DateOfBegin.ToLongDateString();
</p>
<hr />
<div class="form-group row">    
    <div class="col">        
        <div>            
            <dl class="row">
                <dt class = "col-sm-2">
                    Inicio
                </dt>
                <dd class = "col-sm-9">
                    <label class="text-sm-left">
                        @Html.DisplayFor(model => model.DateOfBegin)
                    </label>
                    
                </dd>
                <dt class = "col-sm-2">
                    Finalización
                </dt>
                <dd class = "col-sm-9">
                    <label class="text-sm-left">
                        @Html.DisplayFor(model => model.DateOfEnd)
                    </label>
                </dd>
                <dt class = "col-sm-2">
                    Empleado
                </dt>
                <dd class = "col-sm-9">
                    <label class="text-sm-left">
                        @Html.DisplayFor(model => model.Employee.Name)
                    </label>
                </dd>
                <dt class = "col-sm-2">
                    Proyecto
                </dt>
                <dd class = "col-sm-9">
                    <label class="text-sm-left">
                        <a asp-controller="Projects" asp-action="Details"  asp-route-id="@Model.ProjectId">@Model.Project.ProjectName</a>
                    </label>
                </dd>
                <dt class = "col-sm-2">
                    N° Semana
                </dt>
                <dd class = "col-sm-9">
                    <label class="text-sm-left">
                        @Html.DisplayFor(model => model.NumberOfWeek)
                    </label>
                </dd>
            </dl>
        </div>
    </div>
    <div class="col">
        <h5>Horas Extras Asociadas</h5>
        <p>
            Aqui se muestran las horas extras agregadas en el <br />
            sistema que se encuentren vinculadas a la asistencia <br />
            de @Model.Employee.Name el día @Model.DateOfBegin.ToLongDateString()
        </p>
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Inicio
                    </td>
                    <td>
                        Finalización
                    </td>
                    <td>
                        Tipo
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (ExtraHour item in ViewBag.Extras)
               {
                   <tr>
                       <td>
                           @item.BeginTime
                       </td>
                       <td>
                           @item.EndTime
                       </td>
                       <td>
                           @item.TypeOfHour
                       </td>
                       <td>
                           <a asp-controller="ExtraHours" asp-action="Details" asp-route-id="@item.ExtraHourId">Ver</a> 
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </div>

</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.AsistanceId" class="btn btn-primary">Editar</a> |
    <a asp-action="Search" class="btn btn-secondary">Volver Atrás</a>
    <a asp-action="Delete" asp-route-id="@Model.AsistanceId" class="btn btn-secondary" class="btn btn-danger">Eliminar</a>
</div>
