@model IEnumerable<ProjectsControl.Models.Asistance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Asistencias</h1>

<p>
    <a asp-action="Create">Registrar asistencia</a>
</p>
<table class="table table-hover   table-striped table-responsive-sm table-bordered" style="font-size: 13px;text-align:center">
    <thead>
        <tr>
            <th>
                Día de Inicio              
            </th>
            <th>
                Día Finalización                
            </th>
            <th>
                Empleado              
            </th>
            <th>
                Projecto               
            </th>
            <th>
                N° Semana               
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWeek)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AsistanceId" class="btn btn-primary">Editar</a> 
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AsistanceId" class="btn btn-info" >Detalles</a> 
            </td>
            <td>                
                <a asp-action="Delete" asp-route-id="@item.AsistanceId" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
