@model IEnumerable<ProjectsControl.Models.Asistance>

@{
    ViewData["Title"] = "Busqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    let inpEmployee = document.getElementsByName("NameToSearch");
    let inpProject = document.getElementsByName("ProjectToSearch");
    let inputWeek = document.getElementsByName("WeekToSearch");
    let inpDate = document.getElementsByName("DateToSearch");


    /// no funciona
function clean(){
        alert("sample");
        inpEmployee.options=0;
        console.log(inpEmployee);
        $("input[type=date]").val("")
        alert("limpado");
    }
</script>

<h1>Buscar Asistencias</h1>




<p>
    <a asp-action="Create">Registrar asistencia</a>
</p>

<form asp-controller="Asistances" asp-action="Search" method="get">
    <div class="form-group row">
        <div class="col">
            <select style="background-color: #f5f5f5;" class="rounded form-control" name="NameToSearch" >
            <option value=""></option>
                @foreach (Employee item in  ViewBag.Employees )
               {
                   <option value="@item.EmployeeId">@item.Name</option>
               }
           </select>
        </div>
        <div class="col">
            <select style="background-color: #f5f5f5;" class="rounded form-control" name="ProjectToSearch">
              <option value=""></option>
                @foreach (Project item in ViewBag.Projects)
               {
                   <option value="@item.ProjectId">@item.NumberOfProject - @item.ProjectName</option>
               }
            </select>
        </div>
        <div class="col">
            <select style="background-color: #f5f5f5;" class="rounded form-control" name="WeekToSearch">
                <option value=""></option>
                @foreach (Week item in ViewBag.Weeks)
               {
                   <option value="@item.WeekId">@item.WeekId</option>
               }
            </select>
        </div>
        <div class="col">
            <input type="date" style="background-color: #f5f5f5;" class="rounded form-control" name="DateToSearch" placeholder="Fecha" />
        </div>
        <div class="col">
            <input type="submit" value="Buscar" class="btn btn-light " />
        </div>
        <div class="col">
            <input type="button" value="Generar" class="btn btn-light " />
        </div>
        <div class="col">
            <div type="button" class="btn btn-light" onclick="clean()"  >Limpiar</div>
        </div>
    </div>
</form>

<table class="table table-hover   table-striped table-responsive-sm table-bordered" style="font-size: 13px;text-align:center">
    <thead>
        <tr>
            <th>
                Día de Inicio
            </th>
            <th>
                Día Finalización
            </th>
            <th>
                Empleado
            </th>
            <th>
                Projecto
            </th>
            <th>
                N° Semana
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBegin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AsistanceId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.AsistanceId">Details</a>
                    <a style="color:red" asp-action="Delete" asp-route-id="@item.AsistanceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
