@model ProjectsControl.Models.Notes

@{
    ViewData["Title"] = "Crear Notas de Proyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear</h1>

<h4>Notas</h4>
<hr />



<div class="container">
    <div class="row align-items-start">
        <!-- FORM-->
        <div class="col">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="d-none" style="display:none;">
                    <input asp-for="NotesId" class="d-none" value="@Guid.NewGuid().ToString()" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="ProjectId" class="control-label"></label>
                    <input asp-for="ProjectId" class="form-control" value="@ViewBag.ProjectId" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label">Titulo</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Notas y descripción</label>
                    <textarea asp-for="NoteDescription" class="form-control"></textarea>
                    <span asp-validation-for="NoteDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Autor</label>
                    <input asp-for="Author" class="form-control" value="@User.Identity.Name" readonly />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha de Creación</label>
                    <input asp-for="DateOfCreation" class="form-control" value="@DateTime.Now" />
                    <span asp-validation-for="DateOfCreation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <!-- INFORMATION -->
        <div class="col-4 container m-2">
            <div class="col">
                <div class="row m-3">
                    <div class="card">
                        <div class="card-body">
                            <b>Notas:</b> corresponde a un historial o bitácora del proyecto. Todos los indicentes o información que sea necesario almancenar a futuro es necesario su inclusión. Este registro esta orientado a los coordinadores de proyecto, sin embargo puede extenderse a otros según sea necesario. <b>El autor de esta nota no puede ser modificado</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-controller="Projects" asp-action="Details" asp-route-id="@ViewBag.ProjectId" class="btn btn-secondary">Volver atrás</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
