@model ProjectsControl.Models.Notes

@{
    ViewData["Title"] = "Borrar nota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar</h1>

<h3>
    ¿Esta seguro que desea eliminar esta nota?
</h3>
<div>
    <h4>Notas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Autor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            Fecha de Creación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt class = "col-sm-2">
            Titulo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteDescription)
        </dd>
        <dt class = "col-sm-2">
            Proyecto
        </dt>
        <dd class = "col-sm-10">
            N° @Model.Project.NumberOfProject -  @Model.Project.ProjectName
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NotesId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver Atrás</a>
    </form>
</div>
