@model ProjectsControl.Models.ExtraHour

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de Tiempo extra</h1>


<h4>Tiempo Extra - @Model.Employee.Name</h4>
<hr />

@{
    var timeaux = (Model.EndTime - Model.BeginTime).TotalMinutes;
    var hours = (Model.EndTime - Model.BeginTime).TotalHours;
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Inicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BeginTime)
        </dd>
        <dt class="col-sm-2">
            Finalización
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            Duracion
        </dt>
        <dd class="col-sm-10">
            Tiempo en minutos @timeaux.ToString() Minutos <br />
            Tiempo en  @hours.ToString() Horas
        </dd>
        <dt class="col-sm-2">
            Tipo de tiempo extra
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfHour)
        </dd>
        <dt class="col-sm-2">
            Motivo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            Notas
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            ¿Esta pagado?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class="col-sm-2">
            Empleado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt class="col-sm-2">
            Registro de Asistencia
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Asistances" asp-action="Details" asp-route-id="@Model.AsistanceId">Asistencia @Model.Asistance.DateOfBegin.Date</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfWeek)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExtraHourId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver Atrás</a>
    <a asp-action="Delete" asp-route-id="@Model.ExtraHourId" class="btn btn-secondary" class="btn btn-danger">Eliminar</a>
</div>
