@model ProjectsControl.Models.Quotation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Quotation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MecsaAmountMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MecsaAmountMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViaticsAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViaticsAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnexpectedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnexpectedAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KMAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KMAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityOfDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityOfDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityOfEmployees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityOfEmployees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserModification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserModification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModification)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuotationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
