@model IEnumerable<ProjectsControl.Models.Quotation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MecsaAmountMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViaticsAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnexpectedAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KMAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOfEmployees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MecsaAmountMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViaticsAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnexpectedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KMAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOfEmployees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserModification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModification)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuotationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuotationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuotationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
